body {
  background-image: url(../src/images/sfondo-neutro.png);
}

.card {
  display: flex;
  margin: 140px 130px 0px 130px;
  padding: 40px 5px;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(158, 158, 158, 0.1);
  backdrop-filter: blur(9.3px);
  -webkit-backdrop-filter: blur(7.3px);
  border: 1px solid rgba(255, 255, 255, 0.35);
}

.form-control {
  font-family: Raleway;
}

#inputGroup {
  width: 70%;
  margin: auto;
  padding: 20px 0px 0px 0px;
}

#searchButton {
  font-family: Raleway;
  background-color: white;
  color: #939393;
  transition: all 200ms ease-in-out;
}

#searchButton:hover {
  background-color: #e4e4e4;
  color: white;
}

#currentLocation {
  font-family: Raleway;
  font-size: 15px;
  background-color: white;
  color: #939393;
  transition: all 200ms ease-in-out;
  margin-left: 10px;
}

#currentLocation:hover {
  background-color: #e4e4e4;
  color: white;
  font-style: italic;
}

.align-items-center {
  justify-content: center;
}

#main-row {
  display: flex;
  text-align: center;
  width: 80%;
  margin: 20px auto 30px;
  justify-content: center;
  align-items: center;
}

#mainWeatherIcon {
  padding: 0px;
  text-align: center;
}

#mainIcon {
  width: 120px;
  margin: auto;
}

.temperature-wrapper {
  justify-content: center;
}

h3 {
  font-family: Poppins;
  font-size: 55px;
  font-weight: bold;
  margin-top: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 80%);
}

#dateTime {
  font-family: Poppins;
  font-weight: 600;
}

#convert {
  text-decoration: none;
  color: #fff;
  transition: all 100ms ease-in-out;
}

#mainTemperature {
  font-family: Quicksand;
  font-size: 62px;
  font-weight: bold;
  margin: 0px 12px 0px 35px;
  color: #fff;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 80%);
}

#temperature-number {
  margin: 0px;
}

#symbols {
  font-size: 35px;
  font-weight: 100;
}

#convert-to-celsius, #convert-to-farenheit {
  font-size: 35px;
  margin-top: 0px;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.active-link {
  color: white;
}

.inactive-link {
  color: rgba(255, 255, 255, 0.5);
}

#convert-to-celsius:hover, #convert-to-farenheit:hover {
  cursor: pointer;
  color: white;
}

#minMaxTemperature {
  margin: 0px 0px 0px 20px;
  font-size: 15px;
  padding:5px 5px 5px 20px;
}

#minMax {
  font-family: Poppins;
  font-weight: bolder;
  text-align: left;
}

#min-temp,
#max-temp {
  font-family: Quicksand;
}

.hr {
  margin: 30px auto;
  width: 85%
}

#forecast {
  justify-content: space-evenly;
  width: 100%;
  align-content: space-around;
  color: #fff;
  text-shadow: 1px 1px 1.5px rgb(0 0 0 / 90%);
}

#days {
  text-align: center;
  font-weight: bold;
  margin: 20px 0px 12px 0px;
}

#forecast {
  font-family: Poppins;
  justify-content: space-evenly;
  width: 100%;
  align-content: space-around;
}

#icons {
  margin: 0px;
}

.small-icon {
  width: 65px;
  display: block;
  margin: auto;
}

#temperatures {
  font-family: Quicksand;
  text-align: center;
  font-size: 20px;
  margin: 12px 0px 20px 0px;
}

.days-col, .temp-col {
  margin:0px;
  padding: 0px 14px;
  font-size: 20px;
}

.footer {
  margin: 0px auto 170px;
  font-size: 10px;
  text-align: center;
}

.hidden {
  display: none;
}

@media screen and (max-width: 320px) {
  .card {
    margin: 40px 10px 0px 10px;
    padding: 15px 5px;
  }

  .card-body {
    padding: 0px;
  }

  #inputGroup {
    margin: 5px 5px;
    width: 95%; 
  }

  #cityInput {
    font-size: 12px;
    line-height: 30px;
    height: 30px;
    width:70%;
  }

  #searchButton {
    font-size: 12px;
    height: 30px;
  }

  #currentLocation {
    font-size: 12px;
    margin: 10px auto 0px auto;
    border-radius: 0px;
    padding: 7px 10px;
  }

  h3 {
    font-size: 40px;
  }

  #dateTime {
    font-size: 14px;
    margin-top: 8px;
  }

  #time-row {
    justify-content: center;
  }

  #main-row {
    justify-content: center;
    text-align: center;
    margin: 10px auto 0px;
  }

  #mainWeatherIcon {
    padding: 0px 0px;
    text-align: center;
  }

  #mainIcon {
    width: 70px;
  }

  .temperature-wrapper {
    justify-content: center;
  }

  #mainTemperature {
    padding: 0px
  }

  #temperature-number {
    font-size: 48px;
    margin: 0px
  }

  #symbols {
    margin: 7px 0px;
    font-size: 28px;
  }

  #convert-to-celsius, #convert-to-farenheit {
    font-size: 28px;
  }

  #minMaxTemperature {
    font-size: 13px;
    padding: 5px;
  }

  #minMax {
    text-align: left;
    padding-left: 25px;
  }

  #days, #temperatures {
    flex-wrap: nowrap;
    justify-content: center;
    height: 35px;
  }

  #days {
    margin: 10px 0px 0px;
  }

  #temperatures {
    margin: 0px 0px 10px 0px;
  }

  .days-col, .temp-col {
    margin:0px;
    padding: 0px 11px;
    font-size: 15px;
  }

  #icons {
    display: none;
  }
}



@media screen and (min-width: 375px) and (max-width: 767px) {
.card {
  margin: 40px 15px 0px 15px;
  padding: 5px;
}

#inputGroup {
  margin: 5px 5px;
  width: 95%; 
}

#cityInput {
  font-size: 14px;
  line-height: 30px;
  height: 30px;
  width:70%;
}

#searchButton {
  font-size: 14px;
  height: 30px;
}

#currentLocation {
  font-size: 14px;
  margin: 10px auto 0px auto;
  border-radius: 0px;
  padding: 7px 10px;
}

h3 {
  font-size: 44px;
}

#dateTime {
  font-size: 15px;
  margin-top: 8px;
}


#main-row {
  justify-content: center;
  text-align: center;
  margin: 10px auto 0px;
}

#mainWeatherIcon {
  padding: 0px 0px;
  text-align: center;
}

#mainIcon {
  width: 78px;
}

.temperature-wrapper {
  justify-content: center;
}

#mainTemperature {
  padding: 0px
}

#temperature-number {
  font-size: 52px;
  margin: 0px
}

#symbols {
  margin: 7px 0px;
  font-size: 28px;
}

#convert-to-celsius, #convert-to-farenheit {
  font-size: 28px;
}

#minMaxTemperature {
  font-size: 15px;
  padding: 5px;
}

#minMax {
  text-align: left;
  padding-left: 25px;
}

#days, #temperatures {
  flex-wrap: nowrap;
  justify-content: center;
  height: 35px;
}

#days {
  margin: 10px 0px 0px;
}

#temperatures {
  margin: 0px 0px 10px 0px;
}

.days-col, .temp-col {
  margin:0px;
  padding: 0px 14px;
  font-size: 16px;
}

#icons {
  display: none;
}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
.card {
  margin: 70px 30px 0px 30px;
  padding: 10px 5px 20;
}

#inputGroup {
  margin: 5px auto;
  width: 85%; 
}

#cityInput {
  font-size: 14px;
  line-height: 30px;
  height: 40px;
  width:40%;
}

#searchButton {
  font-size: 14px;
  height: 40px;
}

#currentLocation {
  font-size: 14px;
  margin-left: 10px;
  border-radius: 0px;
  padding: 7px 10px;
  height: 40px;
}

h3 {
  font-size: 47px;
  margin-top: 0px;
}

#dateTime {
  font-size: 15px;
  margin-top: 8px;
}


#main-row {
  justify-content: center;
  text-align: center;
  margin: 15px auto;
  align-items: center;
  width: 90%
}

#mainWeatherIcon {
  padding: 0px 0px;
  text-align: center;
}

#mainIcon {
  width: 100px;
}

.temperature-wrapper {
  justify-content: center;
}

#mainTemperature {
  padding: 0px;
  margin: 0px 12px 0px 35px;
}

#temperature-number {
  font-size: 54px;
  margin: 0px;
  padding-right: 0px;
}

#symbols {
  margin: 7px 0px;
  font-size: 25px;
  padding-left: 3px;
}

#convert-to-celsius, #convert-to-farenheit {
  font-size: 25px;
}

#minMaxTemperature {
  font-size: 13px;
  padding: 5px;
  margin-left:20px;
  margin-right: 0px;
}

#minMax {
  text-align: left;
}

#days, #temperatures {
  justify-content: space-around;
  height: 35px;
}

#days {
  margin: 10px 0px 0px;
}

#temperatures {
  margin: 0px 0px 10px 0px;
}

.days-col, .temp-col {
  margin:0px;
  padding: 0px 14px;
  font-size: 18px;
}

.small-icon {
  width: 45px;
  margin: 15px auto;
}
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
.card {
  margin: 70px 30px 0px 30px;
  padding: 10px 5px 20;
}

#inputGroup {
  margin: 5px auto;
  width: 85%; 
}

#cityInput {
  font-size: 14px;
  line-height: 30px;
  height: 40px;
  width:40%;
}

#searchButton {
  font-size: 14px;
  height: 40px;
}

#currentLocation {
  font-size: 14px;
  margin-left: 10px;
  border-radius: 0px;
  padding: 7px 10px;
  height: 40px;
}

h3 {
  font-size: 55px;
  margin-top: 10px;
}

#dateTime {
  font-size: 15px;
  margin-top: 8px;
}


#main-row {
  justify-content: center;
  text-align: center;
  margin: 20px auto 30px;
  align-items: center;
  width: 80%
}

#mainWeatherIcon {
  padding: 0px 0px;
  text-align: center;
}

#mainIcon {
  width: 100px;
}

.temperature-wrapper {
  justify-content: center;
}

#mainTemperature {
  padding: 0px;
  margin: 0px 12px 0px 35px;
}

#temperature-number {
  font-size: 60px;
  margin: 0px
}

#symbols {
  margin: 7px 0px;
  font-size: 32px;
}

#convert-to-celsius, #convert-to-farenheit {
  font-size: 32px;
}

#minMaxTemperature {
  font-size: 14px;
  padding: 5px 5px 5px 20px;
  margin-left:20px;
  margin-right: 0px;
}

#minMax {
  text-align: left;
}

#days, #temperatures {
  justify-content: space-around;
  height: 35px;
}

#days {
  margin: 10px 0px 0px;
}

#temperatures {
  margin: 0px 0px 10px 0px;
}

.days-col, .temp-col {
  margin:0px;
  padding: 0px 14px;
  font-size: 18px;
}

.small-icon {
  width: 55px;
  margin: 15px auto;
}
}
